{% extends "layout_sesion.html" %}

{% block content %}
 




<div class="container" style="margin: 300px auto;">
  <div class="row align-items-center">
    <div class="col">
      <nav class="navbar navbar-dark bg-dark justify-content-center ">
        <form class="form-inline">
          <button class="btn btn-dark  btn-lg " type="submit">Search</button>
          <input
            class="form-control mr-sm-2"
            type="search"
            style="width: 960px;"
            placeholder="Ejemplo: Cafe, Pizza, Sushi"
            aria-label="Search"
          />
        </form>
      </nav>
    </div>
  </div>
</div>
{% endblock %}
